footer {
    border: 2px solid green;
    width: 100%;
}
footer .container-wrapper {
    border: 2px solid lightgreen;
    background: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 960px;
    height: 10;
    margin: 0 auto;
}

.github-link {
    border: 2px solid gold;
}
.github-link h4 {
    color: black;
}
.github-link i {
    border: 2px solid black;
    border-radius: 1.5em;
    color: white;
    font-size: 25pt;
}
.github-link i:hover {
    border: 2px solid white;
    border-radius: 1.5em;
    color: purple;
}